<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>19/01/13 21:30:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Automation.beforeTest()[pri:0, instance:goindigo.Automation@68be2bc2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/01/13 21:31:23</td>   <td>52148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Automation.searchtheflight()[pri:0, instance:goindigo.Automation@68be2bc2]">searchtheflight</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/01/13 21:31:40</td>   <td>69413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Automation.findLowestPrice()[pri:1, instance:goindigo.Automation@68be2bc2]">findLowestPrice</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/01/13 21:32:04</td>   <td>92685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Automation.passengerdetails()[pri:2, instance:goindigo.Automation@68be2bc2]">passengerdetails</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/01/13 21:32:24</td>   <td>113535</td> <td>&nbsp;</td><td title="&lt;&lt;Automation.afterTest()[pri:0, instance:goindigo.Automation@68be2bc2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@876563773</td>   <td></td> </tr>
</table>
